<% provide(:title, "About") %>
<div class= "ggwp">
  <h1>BMI là gì:</h1>
  <p>
    BMI là viết tắt của (<strong style = "font-family: cursive, color: purple">Body Mass Index</strong>) được gọi là chỉ số cơ thể, 
    thường được các chuyên gia hoặc các bác sĩ áp dụng để xác định tình trạng 
    cơ thể của một người nào đó có bị thừa cân hay gầy ốm hay không. 
    Thông thường chúng ta thường sử dụng chỉ số BMI để tính toán mức độ béo phì.
  </p>
<h2> Kết quả của BMI sẽ phản ánh sức khỏe của bạn: </h2>
<ol>- Dưới chuẩn: BMI ít hơn 18.5 </ol>
<ol>- Chuẩn: BMI từ 18,5 - 25 </ol>
<ol>- Thừa cân: BMI từ 25-30 </ol>
<ol>- Béo - nên giảm cân: BMI 30 - 40 </ol>
<ol>- Rất béo – cần giảm cân ngay: BMI trên 40 </ol>
</div>
